body{
  font-family: "Roboto", sans-serif;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
}

.bg-dark {
  background-color: #333;
}

.bg-grey {
  background-color: #F6F6F6;
}

.bg-orange{
  background-color: #ff5d27;
}

.jumbo {
  color: white;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 100px 25px;
  height: 350px;
}

.linkContainer {
  width: 50%;
  border: 0px solid white;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.container-fluid {
  padding: 80px 50px;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.footerContainer {
  width: 50%;
  border: 0px solid white;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 60px;
}

footer {
  background-color: #333;
  height: 400px;
  color: white;
  padding: 180px;
}

.sticky {
  position: fixed;
  top: 0;
  background-color: #aaaaaa;
  width: 15%;
  border: 2px solid #777777;
  color: white;
  padding-left: 5px;
  margin-top: 100px;
  height: 200px;
  margin-left: 10px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.aboutmetext {
  text-align: left;
  padding-left: 10px;
  font-size: 14pt;
  font-family: "Roboto", sans-serif;
}
